{% extends "layout.html" %}

{% block heading %}
    Login
{% endblock %}

{% if showlogin is not none %}
    {% set showlogin = True %}
{% endif %}


{% block body %}

{#    Verification Starts #}
    {% if verification == True %}

        {% set showlogin = False %}

        <form action="{{ url_for('verify') }}" method="post">
            <input type="text" name="token" placeholder="Enter Verification Code">
            <button>Check Verification Code</button>
        </form>

        <form action="{{ url_for('resend_request') }}" method="post">
            <button>Resend Verification Code</button>
        </form>

    {% endif %}
{#    Verification Ends   #}
{#    Login Start    #}
    {% if showlogin == True %}

        {% if loggedin == True %}

            <form action="{{ url_for('logout') }}" method="post">
                {% block login_logout %} Logout {% endblock %}
            </form>

        {% else  %}

            <form action="{{ url_for('login') }}" method="post">
                <input type="text" name="username" placeholder="Enter Username">
                <input type="text" name="password" placeholder="Enter Password">
            </form>

            <form action="{{ url_for('new_user') }}" method="post">
                <button>Create Account</button>
            </form>

        {% endif %}
    {% endif %}

    <p>
        {{ text }}
    </p>
{% endblock %}