{% extends "layout.html" %}

{% block heading %}
    Login
{% endblock %}

{% if loggedin == True %}
    {% set loginButton = 'logout-form' %}
    {% set buttonText = 'Logout' %}
{% else %}
    {% set loginstyle = 'width:auto;' %}
    {% set loginButton = 'login-form' %}
    {% set buttonText = 'Login' %}
{% endif %}

{% block body %}



{#    Verification Starts #}
    {% if verification == True %}

        {% set showlogin = False %}

        <form action="{{ url_for('verify') }}" method="post">
            <input type="text" name="token" placeholder="Enter Verification Code">
            <button>Check Verification Code</button>
        </form>

        <form action="{{ url_for('resend_request') }}" method="post">
            <button>Resend Verification Code</button>
        </form>

    {% endif %}
{#  Verification Ends   #}
{#  Login Start    #}
    {% if loggedin == True %}
        <form action="{{ url_for('logout') }}" method="post" id="logout-form"></form>

    {% else %}

        <div id="modal" class="modal">
            <form id="modal-content" class="modal-content animate" action="{{ url_for('login') }}" method="post" id="login-form">

                <div class="imgcontainer">
                    <span onclick="document.getElementById('modal').style.display='none'" class="close" title="Close Login">&times;
                    </span>
                    <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Avatar" id="sample-avatar" class="avatar">
                    {# TODO - REMOVE PICTURE IT DIDNT COME FROM ME #}
                </div>
{#            Login UI  #}
            <div id="logon">
                <div class="login-container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" class="login-input" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" class="login-input" required>

                    {% if wrong_credentials == True %}
                        <p class="wrongpsw">Wrong Username/Password</p>
                    {% endif %}

                    <button type="submit" class="login-button">Login</button>

                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="login-container" style="background-color:#f1f1f1">
                    <button type="button" onclick="new_user()" class="create-button">Create Account</button>
                    <span class="psw"><a href="#">Forgot password?</a> </span>
                </div>
            </div>
{#            Create User UI    #}
            <div id="create-account">
                <div class="login-container">

                        <label for="fName" style="padding-right: 39%"><b>First Name</b></label>
                        <label for="lName"><b>Last Name</b></label>
                     <div>
                        <input type="text" placeholder="First Name" name="fName" class="login-input" required style="width: 49%; float:
                        left;">
                        <input type="text" placeholder="Last Name" name="lName" class="login-input" required style="width: 49%; float:
                        right;">
                    </div>


                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Username" name="username" class="login-input">

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Password" name="password" class="login-input">

                    <label for="password-retype"><b>Re-enter your password</b></label>
                    <input type="password" placeholder="Password" name="password-retype" class="login-input">

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Email" name="email" class="login-input">

                    <label for="email-retype"><b>Re-enter your email</b></label>
                    <input type="text" placeholder="Email" name="email-retype" class="login-input">
                </div>

                <div class="login-container" style="background-color:#f1f1f1">
                    <button type="button" onclick="go_back()" class="create-button">Go Back</button>
                </div>
            </div>
            </form>
        </div>

{#            <form action="{{ url_for('login') }}" method="post" id="login-form">#}
{#                <input type="text" name="username" placeholder="Enter Username" class="login-input">#}
{#                <input type="text" name="password" placeholder="Enter Password" class="login-input">#}
{#                <button >Login</button>#}
{#            </form>#}

{#            <form action="{{ url_for('new_user') }}" method="post">#}
{#                <button>Create Account</button>#}
{#            </form>#}

    {% endif %}
{#  Login Ends  #}
{#  Create User Starts  #}
    {% if create_user == True %}



    {% endif %}

    <p>
        {{ text }}
    </p>
{% endblock %}

{% block script %}
    {% if wrong_credentials == True %}
        <script>reload()</script>
    {% endif %}
{% endblock %}