<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sass/app.css') }}">
    </head>
    <body>
{#  NavBar starts  #}
        <header>
            <h1 class="logo">Logo</h1>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Usage</a></li>
                    <li><a>Test</a></li>
                    <li><a>{% block text %}{% endblock %}o %}</a></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>
{#  NavBar ends#}
        <div class="content ">
            <form action="{{ url_for('index') }}" method="get">
                <button class="btn btn-primary">Home</button>
            </form>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>