{% extends 'layout.html' %}

{% block title %}View Energy Usage{% endblock %}

{% block body %}
    <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script id="day-usage-table" type="text/javascript">
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      let data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Usage');
      data.addColumn('number', 'Average Usage');


{% set var = {'high': 0, 'var': 0} %}
      data.addRows([
        {% for position in range(average_dates|length) %}
            console.log({{ position + var.var}}),
             {% if (position + var.var) in dates and average_dates[position].year == dates[position + var.var].year and
             average_dates[position].month == dates[position + var.var].month and average_dates[position].day == dates[position + var
             .var].day %}
                 {#[new Date({{ dates[position].year }}, {{ dates[position].month }} - 1, {{ dates[position].day }}),#}
                 {#    {{ dates[position].d_usage}}, {{ average_dates[position].usage }}],#}
                 [new Date({{ average_dates[position].year }}, {{ average_dates[position].month }} - 1, {{ average_dates[position].day
                 }}), {{ dates[position + var.var].d_usage }}, {{average_dates[position].usage }}],
                {% if var.high < dates[position].d_usage %}{% set _dummy = var.update({'high': dates[position].d_usage}) %}{% endif %}
            {% else %}
                 [new Date({{ average_dates[position].year }}, {{ average_dates[position].month }} - 1, {{ average_dates[position].day }}), ,
                 {{average_dates[position].usage }}],
                {% set _dummy = var.update({'var': var.var - 1}) %}
                {% if var.high < average_dates[position].usage %}
                    {% set _dummy = var.update({'high': average_dates[position].usage}) %}
                {% endif %}
            {% endif %}
        {% endfor %}
      ]);
        {% for position in dates %}
            console.log('{{ position }}');
        {% endfor %}
      let options = {
          chart: {
              title: 'Daily Usages',
              titleTextStyle: {
                  color: '#fff',
              },
          },
          hAxis: {
              title: 'Dates',
              titleTextStyle: {
                  color: '#fff',
                  fontSize: 20,
              }
          },
          vAxis: {
                minValue: 0,
                maxValue: {{ var.high }} + 10,
                viewWindow: {
                    min: 0,
                    max: {{ var.high }} + 10
                }
            },
          width: 1000,
          height: 500,
          backgroundColor: '#222',
          explorer: {
              actions: ['dragToZoom', 'rightClickToReset'],
              axis: 'horizontal',
              keepInBounds: true,
              maxZoomIn: 4.0,
          }
      };

      let chart = new google.charts.Line(document.getElementById('linechart_material'));

          chart.draw(data, google.charts.Line.convertOptions(options));
    }</script>
    <script id="week-usage-table" type="text/javascript">

    </script>
  </head>
    <div id="linechart_material" style="width: 1000px; margin: 0 auto; height: 500px"></div>
    <div>
        <button style="display: none;" id="cancel" onclick="cancel()" class="btn btn-danger">Cancel</button>
        <button style="display: none;" id="update" onclick="update_table()" type="submit" form="update-table" class="btn btn-primary">Update
            Table</button>
    </div>
    <div>
        <input type="text" id="search" onkeyup="search()" placeholder="Search for dates..">
        <table id="view-table" class="table">
            <thead>
                <tr>
                    <th><input onclick="check_uncheck()" id="control" type="checkbox"></th>
                    <th class="">Date</th>
                    <th class="alert-heading">Usage</th>
                    <th><button class="btn btn-primary" type="submit" form="delete-entries">Delete Entries</button></th>
                </tr>
            </thead>
            <tbody id="tbody">
                <form id="delete-entries" action="{{ url_for('delete_entries') }}" method="post">
                    {% for position in range(dates|length) %}
                        <tr>
{#                        Change text to input fields, make them transparent, add onkeyup listener to make table update changes to
                            database #}
                            <td><input type="checkbox" name="child-box" value="{{ dates[position].date }}"></td>
                            <td class="text-white"><input class="d-usage" name="usage_d" type="number" onkeyup="button_appear()"
                                                          value="{{dates[position]
                            .d_usage}}"></td>
                            <td class="text-white dates"><input class="date-input" name="box-date" readonly value="{{ dates[position]
                            .date}}"></td>
                        </tr>
                    {% endfor %}
                </form>
            </tbody>
        </table>
        <form id="update-table" action="{{ url_for('update_table') }}" method="post"></form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/energy_input.js') }}"></script>
{% endblock %}