{% extends 'layout.html' %}

{% block title %}View Energy Usage{% endblock %}

{% block body %}
    <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      let data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Usage');


      data.addRows([
        {% for position in range(dates|length) %}
            [new Date({{ dates[position].year }}, {{ dates[position].month }} - 1, {{ dates[position].day }}), {{ dates[position].d_usage
            }}],
        {% endfor %}
      ]);

      let options = {
          chart: {
              title: 'Box Office Earnings in First Two Weeks of Opening',
              subtitle: 'in millions of dollars (USD)'
          },
          width: 1000,
          height: 500,
          explorer: {
              actions: ['dragToZoom', 'rightClickToReset'],
              axis: 'horizontal',
              keepInBounds: true,
              maxZoomIn: 4.0
          }
      };

      let chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }</script>
  </head>
    <div id="linechart_material" style="width: 1000px; margin: 0 auto; height: 500px"></div>
    <div>
        <input type="text" id="search" onkeyup="search()" placeholder="Search for dates..">
        <table id="view-table" class="table">
            <thead>
                <tr>
                    <th><input onclick="check_uncheck()" id="control" type="checkbox"></th>
                    <th class="">Date</th>
                    <th class="alert-heading">Usage</th>
                    <th><button class="btn btn-primary" type="submit" form="delete-entries">Delete Entries</button></th>
                </tr>
            </thead>
            <tbody id="tbody">
                <form id="delete-entries" action="{{ url_for('delete_entries') }}" method="post">
                    {% for position in range(dates|length) %}
                        <tr>
{#                        Change text to input fields, make them transparent, add onkeyup listener to make table update changes to
                            database #}
                            <td><input type="checkbox" name="child-box" value="{{ dates[position].date }}"></td>
                            <td class="text-white">{{ dates[position].d_usage }}</td>
                            <td class="text-white dates">{{ dates[position].date }}</td>
                        </tr>
                    {% endfor %}
                </form>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/energy_input.js') }}"></script>
{% endblock %}