@mixin transition($what: all, $time: .2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

@mixin transform($val1, $val2) {
  -webkit-transform: scale($val1, $val2);
  -moz-transform: scale($val1, $val2);
  -ms-transform: scale($val1, $val2);
  -o-transform: scale($val1, $val2);
  transform: scale($val1, $val2);
}

$background: #55d6aa;

body {
  margin: 0;
  background: #fff;
  font-weight: 300;

}

header {
  background: $background;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: $background;
  width: 100%;
  @include transform(1, 0);
  transform-origin: top;
  @include transition(transform, 400ms);



  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  a, .transparent-button {
    color: white !important;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0;
    @include transition(opacity 250ms);
    transition: opacity 150ms ease-in-out;

    &:hover {
      color: #000 !important;

    }
  }
}

.nav-toggle {
  display: none;

  &:checked ~ nav {
    @include transform(1, 1);

    a, .transparent-button {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }
  }
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;

  span {
    &, &::before, &::after {
      display: block;
      background: white;
      height: 2px;
      width: 2em;
      border-radius: 2px;
      position: relative;
    }

    &::before, &::after {
      content: '';
      position: absolute;
    }

    &::before {
      bottom: 7px;
    }

    &::after {
      top: 7px;
    }
  }
}

// Media Query

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;

    ul {
      display: flex;
      justify-content: flex-end;
    }

    li {
      margin-left: 3em;
      margin-bottom: 0;
    }

    a, .transparent-button {
      opacity: 1;
      position: relative;

      &::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.5em;
        left: 0;
        right: 0;
        @include transform(0, 1);
        @include transition(transform, 250ms)
      }

      &:hover::before {
        @include transform(1, 1)
      }
    }
  }
}


.transparent-button {
  background: transparent;
  border: none;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}
